NEXT_PUBLIC_FLAGSMITH_ENVIRONMENT_ID=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=abcdefg

GITHUB_ID=
GITHUB_SECRET=

DATABASE_URL="postgresql://user:password@localhost:5432/healthcheck?schema=public"

NEXT_PUBLIC_REPO_LIMIT=10
